@page "/tuyensinh"
@using TuyensinhVido.Models
@using TuyensinhVido.Dtos
@using Newtonsoft.Json
@inject ITuyenhsinhService tuyensinhService
@inject NavigationManager NavigationManager
@using TuyensinhVido.Pages.Componants
<h3>FormTuyenSinh</h3>

<button class="btn btn-primary" @onclick="CreateAndEditSinhvien">Add sinh vien</button>
<table class="table">
    <thead>
        <tr>
            <th>Họ tên</th>
            <th>CMND</th>
            <th>Số điện thoại</th>
            <th>Ngày sinh</th>
            <th>Email</th>
            <th>Ngành đăng kí</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sinhvien in sinhviens)
        {
            <tr>
                <td>@sinhvien.Hoten</td>
                <td>@sinhvien.CMND</td>
                <td>@sinhvien.SDT</td>
                <td>@sinhvien.Ngaysinh</td>
                <td>@sinhvien.Email</td>
                <td>@sinhvien.Tennganh</td>
                <td><img src="@sinhvien.Image"/></td>
            </tr>
        }
        @*@foreach(DataRow row in dataTable.Rows)
        {
        <tr>
        @foreach(DataColumn col in dataTable.Columns)
        {
        <td>@row[col.ColumnName].ToString()</td>
        }
        </tr>
        }*@
    </tbody>
</table>
<tfoot>
    <Pagination TotalPages="@(totalPages != 0 ? totalPages : 1)"
                PageIndex="@pageIndex"
                Radius="3"
                OnSelectedPage="@SelectedPage">
    </Pagination>
</tfoot>
@code {
    private IEnumerable<TuyensinhReadDTO> sinhviens = Enumerable.Empty<TuyensinhReadDTO>();
    private int pageIndex = 1;
    private int itemsPerPage = 10;
    private int totalPages = 1;
    protected override async Task OnInitializedAsync()
    {
        await tuyensinhService.GetTuyensinhDetail();
        if (tuyensinhService.TuyensinhReadDTOs != null)
        {
            totalPages = (int)(tuyensinhService.TuyensinhReadDTOs.Count() / itemsPerPage);
            sinhviens = tuyensinhService.TuyensinhReadDTOs.Skip(0).Take(itemsPerPage);
        }
    }
    void CreateAndEditSinhvien()
    {
        NavigationManager.NavigateTo("/dangky");
    }
    private void SelectedPage(int selectedPageIndex)
    {
        if (tuyensinhService.TuyensinhReadDTOs != null)
        {
            pageIndex = selectedPageIndex;
            var skipCount = itemsPerPage * (pageIndex - 1);
            sinhviens = tuyensinhService.TuyensinhReadDTOs.Skip(skipCount).Take(itemsPerPage);
        }
    }
}
